@import '../variables';

.button {
  display: inline-block;
  background-color: $sky;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  border: 1px solid transparent;
  @include noselect();

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken($sky, 8%);
  }

  &:active {
    background-color: darken($sky, 12%);
    transform: translateY(1px);
  }

  &--cart {
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 10px 22px;

    img {
      margin-right: 7px;
      margin-bottom: 1px;
      width: 15px;
    }

    span {
      font-weight: 600;
      font-size: 13px;
    }

    @media (max-width: 850px) {
      padding: 7px 20px;

      img {
        margin-right: 5px;
        width: 13px;
      }

      span {
        font-size: 12px;
      }
    }
  }

  &__delimiter {
    width: 1px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
  }

  &--outline {
    background-color: #fff;
    border-color: $sky;
    &,
    span {
      color: $sky;
    }

    svg {
      path {
        fill: $sky;
      }
    }

    &:hover {
      background-color: $sky;

      &,
      span {
        color: #fff;
      }

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &:active {
      background-color: darken($sky, 8%);
    }
  }

  &--add {
    min-width: 85px;
    padding: 8px 12px;
    svg {
      margin-right: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }

    &:hover {
      i {
        background-color: #fff;
        color: $sky;
      }
    }

    i {
      display: inline-block;
      border-radius: 30px;
      background-color: $sky;
      color: #fff;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
      position: relative;
      top: -1px;
      left: 3px;
    }
  }
}
