@import '../variables';

.footer {
  border-top: 1px solid $gray-line;

  .container {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;

    .left {
      width: 480px;
      margin-right: 20px;

      h2 {
        font-size: 24px;
      }

      .description {
        margin-top: 10px;
        font-size: 13px;
        margin-bottom: 20px;
      }

      .social-container {
        display: flex;

        .social-icon {
          margin-right: 10px;

          img {
            width: 25px;
          }
        }
      }
    }

    .center {
      width: 250px;
      margin-right: 20px;

      h2 {
        font-size: 24px;
      }

      .list {
        margin-top: 10px;

        .block {
          display: flex;
          justify-content: space-between;
          margin-bottom: 6px;
          font-size: 14px;

          &:last-of-type {
            margin-bottom: 0px;
          }

          .list-item {
            width: 110px;
          }
        }
      }
    }

    .right {
      width: 360px;

      h2 {
        font-size: 24px;
      }

      .contact {
        margin-top: 10px;

        .contact-item {
          margin-bottom: 6px;
          line-height: 14px;
          font-size: 14px;

          img {
            width: 15px;
            margin-right: 7px;
          }
        }
      }

      .payment {
        display: flex;
        align-items: center;

        .payment-item {
          margin-right: 10px;

          img {
            width: 30px;
          }
        }
      }
    }

  }
}