@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo__search {
      display: flex;
    }

    .logout__cart {
      display: flex;

      .logout {
        margin-left: 5px;
      }
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 10px;
      width: 35px;
    }

    h1 {
      color: #181818;
      font-size: 20px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
      font-size: 13px;
    }
  }

  &--cart {
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 10px 22px;

    img {
      margin-right: 7px;
      margin-bottom: 1px;
      width: 15px;
    }

    span {
      font-weight: 600;
      font-size: 13px;
    }

    @media (max-width: 850px) {
      padding: 7px 20px;

      img {
        margin-right: 5px;
        width: 13px;
      }

      span {
        font-size: 12px;
      }
    }
  }
}
